<!-- header.component.html -->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="#">Distributor-Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/manager">Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/distributor">Distributor</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/myUser/mySpace">My Space</a>
            </li>
        </ul>
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle dropChar"
                aria-controls="dropdown-basic">
                Open class room<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropColor" role="menu"
                aria-labelledby="button-basic">
                <li class="dropdown-item">
                    <a class="nav-link dropChar" routerLink="/open-class-room/open-class-room-appareils">Machines</a>
                </li>

                <li class="dropdown-item">
                    <a class="nav-link dropChar" routerLink="/open-class-room/open-class-room-edit">New</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link dropChar" routerLink="/open-class-room/open-class-room-users">Users</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link dropChar" routerLinkActive="active"
                        routerLink="/open-class-room/open-class-room-auth">Auth</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link dropChar" routerLinkActive="active"
                        routerLink="/open-class-room/open-class-room-blog-app">Blog</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-success headerButton" routerLink="/myUser/login" *ngIf="!token">login</button>
        <button class="btn btn-outline-success headerButton" type="submit" (click)="logout()"
            *ngIf="token">logout</button>
    </div>
</div>